h1, h2, h3, h4, h5 {
  font-family: $jazeera_medium;
  color: $primary;
  margin: 0px;
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  @media(max-width: 991px) {
    font-size: 20px;
    line-height: 26px;
  }
  @media(max-width: 736px) {
    font-size: 18px;
    line-height: 24px;
  }
}

h3 {
  font-size: 20px;
  line-height: 36px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

.title {
  display: flex;
  align-items: center;

  &.center {
    justify-content: center;
    text-align: center;

    h2 {
      width: 100%;
      /*
            @media(max-width: 1199px){
                max-width: 70%;
            }
            @media(max-width: 991px){
                max-width: 100%;
            }
            */
    }

    .flight-root {

    }
  }

  .spl {
    color: $primary;
  }

  &.block-title {
    display: block;
    position: relative;

    p {
      font-family: $jazeera_regular;
      color: $secondary_grey;
      font-size: 18px;
      margin: 5px 0px 0px 0px;
    }

    .brand-holder {
      position: absolute;
      right: 0px;
      top: 12px;
      @media(max-width: 768px) {
        top: 4px;
      }

      img {
        max-height: 55px;
        @media(max-width: 768px) {
          max-height: 25px;
          max-width: 100px;
        }
      }
    }
  }

  &.multi-line {
    strong {
      display: block;
    }
  }

  @media(max-width: 768px) {
    display: block;
    //text-align: center;
  }

  h1, h2, h3, h4, h5 {
    margin: 0px;
  }

  h2 {
    //margin: 12px 0px 0px;
    display: inline-block;
    color: $secondary_grey;
    font-family: $jazeera_regular;

    strong {
      font-family: $jazeera_medium;
    }
  }

  p {
    font-family: $jazeera_regular;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;

    small {
      color: $light_grey;
      font-size: 12px;

    }

    &.title-info-icon {
      font-size: 16px;
      color: $secondary_dark;
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }

  .btn {
    margin-left: auto;
    @media(max-width: 768px) {
      margin-top: 15px;
      display: block;
    }
  }

  .inline-btn-dropdown {
    font-size: 24px;
    font-family: $jazeera_medium;
    display: inline-block;
    height: 34px;
    border-bottom: 1px solid $primary;
    //margin-top: 8px;
    text-decoration: none;
    margin-left: 10px;
    @media(max-width: 991px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media(max-width: 768px) {
      margin-top: 10px;
      //border-bottom: 0px;
      height: 30px;
    }

    .icon {
      font-size: 16px;
    }
  }

  .flight-root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
    @media(max-width: 736px) {
      // align-items: flex-start;
    }

    .flight-title {
      width: 50%;

      p {
        margin: 0px;
        font-size: 14px;
        color: $secondary_grey;
        @media(max-width: 736px) {
          font-size: 12px;
          line-height: 16px;
          margin-top: 8px;
        }
      }

      h4 {
        font-size: 18px;
        color: $secondary_dark;
        font-family: $jazeera_regular;
        @media(max-width: 736px) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    .icon-wrap {
      font-size: 40px;
      min-width: 90px;
      line-height: 45px;
    }

    .start {
      text-align: right;
    }

    .end {
      text-align: left;
    }
  }

  .btn-wrap {
    margin-left: auto;

    .btn {
      align-items: center;
      text-decoration: none;

      .txt {
        text-decoration: underline;
      }

      .icon {
        font-size: 24px;
        margin-right: 12px;
      }

      & + .btn {
        margin-left: 60px;

      }
    }
  }
}
