.form-field {

  .validate {
    top: 22px;
    right: 18px;
    position: absolute;
    display: none;

    .icon {
      position: relative;
      font-size: 20px;
      right: auto;
      left: auto;
      top: auto;
      @media(max-width: 991px) {
        font-size: 15px;
      }
    }

    &.success {
      color: $success;

      .icon {
        color: $success;
      }
    }

    &.error {
      color: $danger;

      .icon {
        color: $danger;
      }
    }
  }

}
