<div class="btn-dropdown-menu dropdown-login-register">
  <div class="container">
    <div class="login-switcher">
      <div class="login-switcher-btns">
        <div class="radio-wrap primary">
          <input type="radio" name="login-form-switch" id="member-login" checked="true">
          <label for="member-login">Member Login</label>
        </div>
        <div class="radio-wrap primary">
          <input type="radio" name="login-form-switch" id="agency-login">
          <label for="agency-login">Agency Login</label>
        </div>
      </div>
    </div>
    <div class="login-register-form-wrap">

      <div class="login-form-wrap colgroup">
        <div data-form="member-login" class="member-login-form active">
          <form id="MemberLoginForm" name="MemberLoginForm">
            <div class="title">
              <h4>Member Login</h4>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <div class="form-field">
                  <!--float-label-wrapper <label for="member-login-user-id">Member User ID/Email Address</label>-->
                  <input id="member-login-user-id" name="member-login-user-id" type="text" value=""
                         class="form-control"
                         placeholder="Member User ID/Email Address"/>
                </div>
              </div>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <div class="form-field">
                  <!--<label for="member-login-password">Password</label>-->
                  <input id="member-login-password" name="member-login-password" type="password" value=""
                         class="form-control" placeholder="Password" autocomplete="false"/>
                </div>
              </div>
            </div>
            <div class="form-row link-field row">
              <div class="col-md-12">
                <a href="#">Forgot Password</a> or <a href="#">Membership Number?</a>
              </div>
            </div>
            <div class="form-btn-wrap">
              <div class="btn-wrap">
                <input type="submit" class="btn btn-primary" value="Login">
              </div>
            </div>
          </form>
        </div>
        <div data-form="agency-login" class="agency-login-form">
          <form id="AgencyLoginForm" name="AgencyLoginForm">
            <div class="title">
              <h4>Agency Login</h4>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <div class="form-field">
                  <!--float-label-wrapper <label for="member-login-user-id">Member User ID/Email Address</label>-->
                  <input id="agency-login-user-id" name="agency-login-user-id" type="text" value=""
                         class="form-control"
                         placeholder="Agency User ID/Email Address"/>
                </div>
              </div>
            </div>
            <div class="form-row row">
              <div class="col-md-12">
                <div class="form-field">
                  <!--<label for="member-login-password">Password</label>-->
                  <input id="agency-login-password" name="agency-login-password" type="password" value=""
                         class="form-control" placeholder="Password" autocomplete="false"/>
                </div>
              </div>
            </div>
            <div class="form-row link-field row">
              <div class="col-md-12">
                <a href="#">Forgot Password</a> or <a href="#">Membership Number?</a>
              </div>
            </div>
            <div class="form-btn-wrap">
              <div class="btn-wrap">
                <input type="submit" class="btn btn-primary" value="Login">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="register-form-wrap colgroup">
        <div class="title block-title">
          <h4>Not a Member?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget libero egestas, venenatis
            ex vitae.</p>
        </div>
        <a href="#" class="btn btn-primary">Register</a>
      </div>

    </div>
  </div>
</div>
